            <h3 class="gm-section">GM Settings</h3>

            <!-- GM SETTINGS -->
            <div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
                <h3 class="gm-header"><i class="fas fa-id-card"></i> Type <i class="fas fa-info-circle help" onclick="$('.sheet-type-info').toggle();"></i></h3>
                <div class="sheet-type-info">Loot: allows for distribution of coins across players<br>Merchant: allows players to purchase items directly from the sheet.</div>
                <div class="sheet-types">
                    <div class="flexrow">
                        <div class="flexcol"><h4 class="sheet-name">Type of sheet: </h4></div>
                        <div class="flexcol">
                            <select class="sheet-type" name="data.flags.lootsheetnpcPf1.lootsheettype">
                                {{#select data.flags.lootsheetnpcPf1.lootsheettype}}
                                    <option value="Loot">Loot</option>
                                    <option value="Merchant">Merchant</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                
                <h3 class="gm-header"><i class="fas fa-users"></i> Permissions <i class="fas fa-info-circle help" onclick="$('.permission-info').toggle();"></i></h3>
                <div class="permission-info">Ensure players have selected a character via the Player Configuration (right-click player in bottom left) menu.</div>
                <ol class="permissions-list">
                    {{#each actor.flags.loot.players as |player p|}}
                        <li class="permission" data-skill="{{p}}">
                            <input type="hidden" name="{{player.playerId}}" value="{{player.lootPermission}}" data-dtype="Number" actor="{{player.actorId}}"/>
                            <a class="permission-proficiency" title="{{player.lootPermissionDescription}}">{{{player.icon}}}</a>
                            <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
                        </li>
                    {{/each}}
                </ol>

                {{#ifeq lootsheettype "Loot"}}
                    <h3 class="gm-header"><i class="fas fa-coins"></i> Coin Distribution</h3>
                    <ol class="coins-list">
                        {{#each actor.flags.loot.currency as |c i|}}
                            <li class="denomination {{i}}">
                                <label>{{ lookup ../config.currencies i }}:</label>
                                <h4 class="denomination-value">{{c.value}} each</h4>
                            </li>
                        {{/each}}
                    </ol>
                    <button class= "split-coins" type="split-coins" name="split-coins" value="1"><i class="fa fa-coins"></i> Split {{actor.flags.loot.ownerCount}} Ways</button>
                {{/ifeq}}

                {{#ifeq lootsheettype "Merchant"}}
                    <h3 class="gm-header"><i class="fas fa-balance-scale"></i> Merchant Settings <i class="fas fa-info-circle help" onclick="$('.merchant-settings-info').toggle();"></i></h3>
                    <div class="merchant-settings-info">Replace this merchant's inventory with a random number of items from a Rollable Table. Specify the Rollable Table's name, along with how a formula for how many different items to add (Shop Qty Formula), and a formula for determining how many of each item to add (Item Qty Formula).</div>
                    <div class="merchant-settings">
                        <div class="flexrow">
                            <div class="flexcol"><h4>Rollable Table: </h4></div>
                            <div class="flexcol">
                                <!-- <input name="data.flags.lootsheetnpcPf1.rolltable" type="text" data-dtype="String" placeholder="e.g. MyRollTable" value="{{data.flags.lootsheetnpcPf1.rolltable}}"/> -->
                                <select class="sheet-rolltable" name="data.flags.lootsheetnpcPf1.rolltable">
                                    {{#select data.flags.lootsheetnpcPf1.rolltable}}
                                        {{#each rolltables as |table i|}}
                                            <option value="{{table.name}}">{{table.name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol"><h4>Shop Qty Formula: </h4></div>
                            <div class="flexcol"><input name="data.flags.lootsheetnpcPf1.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20" value="{{data.flags.lootsheetnpcPf1.shopQty}}"/></div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol"><h4>Item Qty Formula: </h4></div>
                            <div class="flexcol"><input name="data.flags.lootsheetnpcPf1.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4" value="{{data.flags.lootsheetnpcPf1.itemQty}}"/></div>
                        </div>
                    </div>
                    <button class="update-inventory" type="update-inventory" name="update-inventory" value="1"><i class="fas fa-balance-scale"></i> Update Shop Inventory</button>
                {{/ifeq}}
            </div>
